// Ignone obj and bin folders
**/obj/*
**/bin/*
// Ignore the .git folder
**/.git/*
// Ignore NuGet Packages
**/packages/*
!**/packages/repositories.config
// Ignore the node_modules folder
**/node_modules/*
// Ignore the build folder
**/build/*
// Ignore the bower_components folder
**/bower_components/*
// Ignore the jspm_packages folder
**/jspm_packages/*
// Ignore the .sass-cache folder
**/.sass-cache/*
// Ignore the .nuget folder
**/.nuget/*
// Ignore the .vs folder
**/.vs/*
// Ignore .DS_Store files everywhere
**/.DS_Store
// Ignore the .idea folder
**/.idea/*
// Ignore the .vscode folder
**/.vscode/*
// Ignore the .suo file
**/*.suo
// Ignore the .user file
**/*.user
// Ignore the .cache file
**/*.cache
// Ignore the .log file
**/*.log
